#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.box {
  width: 400px;
  border: 1px dashed #ccc;
  padding: 30px;
}

input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

.items {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
